include ../../common-mixins
include ../mixins

+if('storeData')
  +main-section
    +header-wrapper.flex-col.gap-8(class="xs:gap-4 !mb-0")
      +nav-crumbs
        +crumbItemLink("/", "Home")
        +crumbDelimiter
        +crumbItemLink("/c", "Studio")
        +crumbDelimiter
        +crumbItemText("{community.name}")
      +messageHeader("{community.name}", "{community.tagline}")(id="{community.id}")

      +content-wrapper(class="xs:!px-0")
        +if("community.slug !== 'jobs'")
          +filter-options
        +if('community.hashtags && community.hashtags.totalCount > 0')
          ul.hashtags-list.flex.items-start.gap-3.flex-wrap.w-full
            +each('sortHashtags(community.hashtags.edges) as tag (tag.node.id)')
              Hashtag(
                tag="{'#'}{tag.node.id}"
                class="{isHashtagActive(pageFilter, tag.node.id)}"
                onClick!="{() => handleSort($page.url, tag.node.id.toLowerCase())}"
              )
        +feedRenderer
          Feed(
            feedType="{community.slug === 'jobs' ? 'job' : 'default'}"
            edges="{edges}"
            totalCount="{totalCount}"
            isRefetching="{isRefetching}"
            pageInfo="{pageInfo}"
            loadMore="{loadMore}"
          )
