include ../common-mixins
include ../c/mixins

+if('storeData')
  +main-section
    +header-wrapper.flex-col.gap-8(class="xs:gap-4")
      +nav-crumbs
        +crumbItemLink("/", "Home")
        +crumbDelimiter
        +crumbItemText("Portfolio")
      +messageHeader("Portfolio", "Meet the companies that are driving the innovation and adoption of disruptive technologies.")()
      +companyLogoStrip([ { lightPath: '/portfolioLogo/light/clearpool.png', darkPath: '/portfolioLogo/dark/clearpool.png', name: 'Clearpool', }, { lightPath: '/portfolioLogo/light/truflation.png', darkPath: '/portfolioLogo/dark/truflation.png', name: 'Truflation', }, { lightPath: '/portfolioLogo/light/zebec.png', darkPath: '/portfolioLogo/dark/zebec.png', name: 'Zebec Protocol', }, { lightPath: '/portfolioLogo/light/synnax.png', darkPath: '/portfolioLogo/dark/synnax.png', name: 'Synnax', }, { lightPath: '/portfolioLogo/light/finoverse.png', darkPath: '/portfolioLogo/dark/finoverse.png', name: 'Finoverse', }, { lightPath: '/portfolioLogo/light/web3headhunting.png', darkPath: '/portfolioLogo/dark/web3headhunting.png', name: 'Web3 Headhunting', }, { lightPath: '/portfolioLogo/light/wakame.png', darkPath: '/portfolioLogo/dark/wakame.png', name: 'Wakame', }, { lightPath: '/portfolioLogo/light/pickle.png', darkPath: '/portfolioLogo/dark/pickle.png', name: 'Pickle Finance', }, { lightPath: '/portfolioLogo/light/lumiere.png', darkPath: '/portfolioLogo/dark/lumiere.png', name: 'Lumiere', }, { lightPath: '/portfolioLogo/light/amplify.png', darkPath: '/portfolioLogo/dark/amplify.png', name: 'Amplify', }, { lightPath: '/portfolioLogo/light/pass.png', darkPath: '/portfolioLogo/dark/pass.png', name: 'Pass Club', }, { lightPath: '/portfolioLogo/light/blockpass.png', darkPath: '/portfolioLogo/dark/blockpass.png', name: 'Blockpass', },
])
    +content-wrapper
      +feedRenderer
        Feed(
          feedType="portfolio"
          edges="{edges}"
          totalCount="{totalCount}"
          isRefetching="{isRefetching}"
          pageInfo="{pageInfo}"
          loadMore="{loadMore}"
        )
