mixin empty-state-graph
  svg.mt-8(
    width="710"
    height="184"
    viewBox="0 0 710 184"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  )
    g(clip-path="url(#clip0_943_8209)")
      path(
        d="M684.5 2C695.506 2 710 13.868 710 13.868V184H-106V164.196C-106 164.196 -90.5801 160.24 -80.5 160.24C-70.4199 160.24 -64.9968 165.475 -55 164.196C-44.085 162.799 -38.9138 157.967 -29.5 152.328C-18.6749 145.843 -13.6113 140.691 -4 132.548C6.38544 123.748 7.97235 110.794 21.5 108.812C31.8242 107.299 36.5887 116 47 116.724C57.0554 117.422 62.5416 114.313 72.5 112.768C82.4584 111.223 88.0715 107.089 98 108.812C109.579 110.821 111.754 124.145 123.5 124.636C134.496 125.095 138.458 115.895 149 112.768C158.655 109.903 164.682 111.07 174.5 108.812C184.666 106.473 189.589 101.623 200 100.9C210.055 100.201 225.5 104.856 225.5 104.856H251C260.958 104.856 266.758 106.897 276.5 104.856C287.267 102.6 292.331 98.1881 302 92.9877C312.328 87.4327 315.921 79.173 327.5 77.1638C337.428 75.4411 343.042 79.5749 353 81.1198C362.958 82.6647 368.676 87.3076 378.5 85.0757C391.828 82.048 390.325 61.3398 404 61.3398C417.675 61.3398 415.872 83.9507 429.5 85.0757C449.291 86.7096 437.083 50.0333 455 41.5599C464.094 37.2592 470.42 37.6039 480.5 37.6039C490.58 37.6039 495.92 41.5599 506 41.5599C516.08 41.5599 521.542 39.1488 531.5 37.6039C541.458 36.059 546.95 34.418 557 33.6479C566.929 32.8871 572.961 36.4772 582.5 33.6479C594.622 30.0522 595.451 15.4907 608 13.868C618.349 12.5298 623.063 21.7799 633.5 21.7799C643.937 21.7799 649.27 17.6017 659 13.868C669.261 9.93066 673.494 2 684.5 2Z"
        fill="#252933"
      )
      g(filter="url(#filter0_d_943_8209)")
        path(
          d="M710 13.9851C710 13.9851 695.506 2 684.5 2C673.494 2 669.261 10.0089 659 13.9851C649.27 17.7557 643.937 21.9752 633.5 21.9752C623.063 21.9752 618.349 12.6337 608 13.9851C595.451 15.6239 594.622 30.3292 582.5 33.9603C572.961 36.8175 566.929 33.192 557 33.9603C546.95 34.738 541.458 36.3952 531.5 37.9554C521.542 39.5155 516.08 41.9504 506 41.9504C495.92 41.9504 490.58 37.9554 480.5 37.9554C470.42 37.9554 464.094 37.6072 455 41.9504C437.083 50.5075 449.291 87.5459 429.5 85.8959C415.872 84.7598 417.675 61.9256 404 61.9256C390.325 61.9256 391.828 82.8382 378.5 85.8959C368.676 88.1497 362.958 83.461 353 81.9008C343.042 80.3407 337.429 76.1661 327.5 77.9058C315.921 79.9348 312.328 88.2761 302 93.886C292.331 99.1377 287.267 103.593 276.5 105.871C266.758 107.932 260.958 105.871 251 105.871C241.042 105.871 235.429 106.639 225.5 105.871C215.45 105.093 210.055 101.171 200 101.876C189.589 102.607 184.666 107.505 174.5 109.866C164.682 112.147 158.655 110.968 149 113.861C138.458 117.02 134.496 126.311 123.5 125.846C111.754 125.35 109.579 111.895 98 109.866C88.0715 108.126 82.4584 112.301 72.5 113.861C62.5416 115.421 57.0554 118.562 47 117.856C36.5887 117.126 31.8242 108.338 21.5 109.866C7.97237 111.868 6.38545 124.95 -4 133.836C-13.6113 142.06 -18.6748 147.263 -29.5 153.812C-38.9138 159.506 -44.085 164.386 -55 165.797C-64.9968 167.088 -70.4199 161.802 -80.5 161.802C-90.5801 161.802 -106 165.797 -106 165.797"
          stroke="#393D47"
          stroke-width="2"
        )
    defs
      filter(
        id="filter0_d_943_8209"
        x="-122.251"
        y="-7"
        width="848.888"
        height="198"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      )
        feFlood(flood-opacity="0" result="BackgroundImageFix")
        feColorMatrix(
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        )
        feOffset(dy="8")
        feGaussianBlur(stdDeviation="8")
        feComposite(in2="hardAlpha" operator="out")
        feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0")
        feBlend(mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_943_8209")
        feBlend(mode="normal" in="SourceGraphic" in2="effect1_dropShadow_943_8209" result="shape")
      clipPath(id="clip0_943_8209")
        rect(width="710" height="184" fill="white" transform="matrix(-1 0 0 1 710 0)")

mixin legend-item(label, value)
  .chart-legend-item.relative.flex.flex-col.items-start.w-full(class="p-2.75")&attributes(attributes)
    span.text-footnote.text-t3.block= label
    +if('isLoading')
      span.block.bg-l3.rounded-2sm.h-8.w-32
      +else
        span.text-h6-l.font-satoshi(class="xs:text-h6-s")= value

.chart.relative.w-full.bg-l2.border.border-solid.border-l4.rounded-xl.h-96.flex.justify-between.flex-col(
  class="xs:h-[480px]"
)
  .chart-header.relative.z-1.flex.flex-col.items-start.pb-14(class="p-3.75 xs:pb-8")
    span.block.text-footnote.text-t3 Price in USD
    span.flex.items-center.gap-3
      +if('isLoading')
        span.block.bg-l3.rounded-2sm.h-8.w-32
        span.relative.block.bg-l3.border.h-8.w-20.border-solid.border-l5.rounded-full(
          class="before:content-[''] before:absolute before:rounded-2sm before:bg-l4 before:h-4 before:w-16 before:left-1.75 before:top-1.75"
        )
        +else
          span.text-h3-l(class="xs:text-h3-s") ${formatNumber(info.price, '0,0[.]000000')}
          span.relative.block.bg-l3.border.border-solid.border-l5.rounded-full.text-caption.text-t3(
            class="p-1.75"
          ) 
            | 24H: {' '}
            span(class!="{bindPriceChangeClass(info.priceChange24h)}") {formatNumber(info.priceChange24h, '0,0[.]00')}%
  .chart-graph-wrapper.absolute.top-23.h-61(
    class="xs:top-28 xs:h-54"
    style:width="calc(100% + 2px)"
    style:left="-1px"
  )
    .chart-graph(bind:this="{el}")
      +empty-state-graph
  .chart-legend.z-1.relative.bg-l2.flex.items-start.border-t.border-solid.border-l4.rounded-b-xl(
    class="xs:flex-col"
  )
    +legend-item("Symbol", "{info.symbol}").border-r.border-solid.border-l4(
      class="xs:border-b xs:border-r-0"
    )
    /// todo: implement the tooltip..
    +legend-item("FDM", "${formatNumber(info.fdm, '0,0[.]00')}").border-r.border-solid.border-l4(
      class="xs:border-b xs:border-r-0"
    )
    +legend-item("Total supply", "{formatNumber(info.totalSupply, '0,0[.]00')}")
