include ../../common-mixins
include ../../c/mixins

+if('storeData')
  +main-section
    +header-wrapper(class="flex-col gap-8 xs:gap-4")
      +nav-crumbs
        +crumbItemLink("/", "Home")
        +crumbDelimiter
        +crumbItemLink("/c", "Studio")
        +crumbDelimiter
        +crumbItemText("Guides")
      +messageHeader("Guides", "Crypto made clear with beginner-friendly guides and insights.")()

    +content-wrapper(class="xs:!px-0")
      +feedRenderer
        Feed(
          feedType="job"
          edges="{edges}"
          totalCount="{totalCount}"
          isRefetching="{isRefetching}"
          pageInfo="{pageInfo}"
          loadMore="{loadMore}"
        )
