mixin content-wrapper-portfolio
  .content-wrapper(
    class="flex flex-col gap-8 items-center justify-center mb-8 smDown:justify-start smDown:items-start max-w-[1028px] tb:max-w-[794px] smDown:max-w-[604px] xs:px-4 w-full"
  )&attributes(attributes)
    block

mixin crumbItemLink(href, name)
  li: a(
    class="text-paragraph-l xs:text-paragraph-s text-t3 transition-colors hover:text-accent1-default"
    href=href
    title=name
  ): span= name

mixin crumbDelimiter
  li(class="crumb-delimiter text-paragraph-l xs:text-paragraph-s text-t3/50") /

mixin crumbItemText(name)
  li: span(class="text-paragraph-l xs:text-paragraph-s text-t3")= name

//- Filter options
mixin filter-options
  ul.filter-options(class="relative flex items-start my-3 border border-solid border-l4 rounded-xl")
    +filter-option-item("{() => handleSort($page.url, 'CREATED_AT')}", "By Time")(
      class!="border-r border-solid border-l4 rounded-l-underbase {pageFilter !== 'NET_UP_VOTES' ? '!bg-l3 !text-accent1-default' : ''}"
    )
    +filter-option-item("{() => handleSort($page.url, 'NET_UP_VOTES')}", "By Rating")(
      class!="rounded-r-underbase {pageFilter === 'NET_UP_VOTES' ? '!bg-l3 !text-accent1-default' : ''}"
    )

mixin filter-option-item(onClick, title)
  li.option-item(
    on:click!=onClick
    class!="flex items-center justify-center cursor-pointer bg-l2 transition-colors text-cta text-t3 hover:text-t1 py-0.75 px-2.75"
  )&attributes(attributes)= title

//- Short links
mixin short-links
  ul.short-links(
    class="flex items-center justify-center gap-x-5 w-full max-w-[604px] smDown:justify-start smDown:flex-wrap"
  )
    block

mixin short-link(href, icon, title)
  a.short-link(
    class="flex items-center gap-2 text-cta text-t1 transition-colors hover:text-accent1-default"
    href=href
  )
    Icon(icon=icon width="{20}" height="{20}" colorInherit)
    span= title

mixin inline-link(href, title)
  a.short-link(
    class="relative underline underline-offset-4 bg-accent1-default/15 text-accent1-default text-paragraph-l transition-colors hover:bg-accent1-default/25 focus:bg-accent1-default/25"
    href=href
  )&attributes(attributes)
    span= title

mixin button-secondary-small(label)
  button(
    type="button"
    class="relative inline-flex z-1 bg-l3 text-t1 text-cta border border-solid border-l3 shadow-secondary-button items-center justify-center p-1.75 px-3.75 rounded-xl transition-all focus:border-accent1-default hover:border-accent1-active hover:shadow-secondary-button-hover"
  )&attributes(attributes)
    span= label

//- Button Icon components
mixin button-icon-small(icon)
  button(
    type="button"
    class="relative inline-flex z-1 bg-l3 text-t1 border border-solid border-l3 shadow-secondary-button items-center justify-center p-1.25 rounded-2lg transition-all focus:border-accent1-default hover:text-t1 hover:border-accent1-active hover:shadow-secondary-button-hover"
  )&attributes(attributes)
    if block
      block
    else
      Icon(icon=icon width="{20}" height="{20}" colorInherit)


  if subtitle
    p(class="text-subtitle-xl text-t2 text-center smDown:text-left xs:text-subtitle-s w-full max-w-[604px]")= subtitle

mixin feedRenderer
  +if('isSearchMode')
    +if('totalCount > 0')
      .result-label-wrapper(class="flex items-center flex-wrap gap-3")
        p(class="text-paragraph-l font-bold") #[span(class="text-t3 font-medium") Showing results for] {pageQ || '#' + pageFilter}
        +button-icon-small("{XMark}")(
          on:click!="{() => handleSort($page.url, 'CREATED_AT')}"
        )
      block
      +else
        p(class="text-paragraph-l text-t1 w-full text-center font-bold") #[span(class="text-t3 font-medium") No articles found for] {pageQ || '#' + pageFilter}.
    +else
      block

mixin companyLogoStrip(logos)
  if logos !== undefined
    .company-logo-strip(
      class="flex flex-wrap justify-center gap-x-8 gap-4 py-1 smDown:gap-x-6 smDown:justify-start align-middle"
    )
      each logo in logos
        img(class="company-logo dark:hidden h-6 mobile:h-4" src=logo.lightPath alt=logo.name)
        img(class="company-logo hidden dark:block h-6 mobile:h-4" src=logo.darkPath alt=logo.name)

mixin subheadingText(text)
  .subheadingWrapper(class="py-4")
    h2(class="w-full text-h2-l xs:text-h2-s font-satoshi text-center smDown:text-left")= text

mixin portfolio-product-wrapper
  .portfolio-product-wrapper(class="w-full grid grid-cols-2 smDown:grid-cols-1 gap-8 smDown:gap-4")&attributes(attributes)
    block
