include ../common-mixins
include ./mixins

+if('storeData')
  +main-section
    +header-wrapper.flex-col.gap-8(class="xs:gap-4")
      +nav-crumbs
        +crumbItemLink("/", "Home")
        +crumbDelimiter
        +crumbItemText("Studio")
      +messageHeader("Studio", "We drive the adoption of web3 technologies by empowering leaders with the necessary tools and capital to succeed.")()
    +content-wrapper
      +filter-options
      +feedRenderer
        Feed(
          edges="{edges}"
          totalCount="{totalCount}"
          isRefetching="{isRefetching}"
          pageInfo="{pageInfo}"
          loadMore="{loadMore}"
        )
