mixin metricContainer(className='')
  .metric(class=`font-satoshi flex flex-col gap-4 ${className}`)
    block

mixin metricTitle(title)
  p.metric-title(class="text-footnote text-t3")= title

mixin metricValue(value)
  p.metric-value(class="font-satoshi text-h4-l xs:text-h4-s text-t1")= value

mixin metricValueInvestors
  .investor-wrapper(
    class="w-full overflow-hidden inline-flex flex-nowrap [mask-image:_linear-gradient(to_right,transparent_0,_black_80px,_black_calc(100%-100px),transparent_100%)] "
  )
    .investor-strip(
      class="w-full flex flex-row gap-6 align-middle group-hover:animate-infinite-scroll smDown:animate-infinite-scroll"
    )
      block

mixin investorImg(value)
  img(
    class="investor-logo h-8 mobile:h-6 filter invert dark:invert-0"
    src="/portfolioLogo/investor/" + value + ".svg"
    alt=value
  )

mixin metric(type, value=null)
  case type
    when 'totalLoansOriginated'
      +metricContainer("smDown:gap-2 min-w-[180px]")
        +metricTitle("Total Loans Originated")
        +metricValue(value)
    when 'totalValueLocked'
      +metricContainer("smDown:gap-2 min-w-[180px]")
        +metricTitle("Total Value Locked")
        +metricValue(value)
    when 'totalFunding'
      +metricContainer("smDown:gap-2 min-w-[180px]")
        +metricTitle("Total Funding")
        +metricValue(value)
    when 'fullyDilutedMarketCap'
      +metricContainer("smDown:gap-2 min-w-[180px]")
        +metricTitle("Fully Diluted Market Cap")
        +metricValue(value)
    when 'founders'
      +metricContainer("smDown:gap-2 w-full")
        +metricTitle("Founders")
        +metricValue(value)
    when 'investors'
      +metricContainer
        +metricTitle("Investors")
        +metricValueInvestors
          block

article.portfolio-product-card(
  class="group w-full h-full rounded-xl flex flex-col bg-l1 border border-l4 p-8 smDown:px-4 smDown:py-6 justify-between {isFeatured ? 'gap-16 smDown:gap-12' : 'gap-6'}"
)
  .portfolio-product-body(class="flex flex-col w-full gap-8 smDown:gap-6")
    .portfolio-product-header(class="flex flex-col w-full gap-4 smDown:gap-2")
      a.transition-colors.text-t1.block(
        href="/c/{communitySlug}/{messageSlug}"
        class!="hover:text-accent1-default"
      )
        h2(
          class="relative text-h2-l xs:text-h2-s font-satoshi inline-block underline underline-offset-4 bg-accent1-default/15 text-accent1-default transition-colors hover:bg-accent1-default/25 focus:bg-accent1-default/25"
        ) {title}
      TextParagraph {subtitle}
    +if('isFeatured == true')
      TextParagraph {description}
      .portfolio-metrics(class="w-full flex flex-wrap gap-8 smDown:flex-col smDown:gap-6")
        +if('totalLoansOriginated')
          +metric('totalLoansOriginated', '{formattedTotalLoansOriginated}')
        +if('totalValueLocked')
          +metric('totalValueLocked', '{formattedTotalValueLocked}')
        +if('founders')
          +metric('founders', '{founders}')
        +if('investors')
          +metric('investors')
            +each('JSON.parse(investors).concat(JSON.parse(investors)) as investor')
              +investorImg('{investor}')
        +if('totalFunding')
          +metric('totalFunding', '{formattedTotalFunding}')
        +if('fullyDilutedMarketCap')
          +metric('fullyDilutedMarketCap', '{formattedFullyDilutedMarketCap}')

  +if('JSON.parse(hashtags) && JSON.parse(hashtags).length > 0')
    ul.relative.flex.items-start.gap-2.flex-wrap.w-full.list-none
      +each('JSON.parse(hashtags) as tag, index')
        li(
          class="bg-accent1-default/15 underline offset-4 text-accent1-default text-inter h-8 text-paragraph-l smDown:text-paragraph-s"
        )
          Hashtag(item="{tag}" link="/c?filter={tag}")
            | {'#'}{tag}
