include ./common-mixins

mixin link(href, title)
	li(class="flex relative items-center text-cta text-t1 transition-colors hover:text-accent1-default before:content-['] before:absolute before:left-0 before:-bottom-1.5 before:w-full before:bg-transparent before:h-0.5")&attributes(attributes): a(class="text-inherit" href=href on:click!="{() => toggleBurger(false)}")= title

mixin social-link(href, content)
	a(class="flex flex-col items-center justify-center w-8 h-8 p-1 text-t1 transition-colors hover:text-accent1-default" href=href target="_blank" rel="noopener noreferrer")=content

mixin main-nav
	ul(class="absolute left-1/2 -translate-x-1/2 main-nav flex items-start gap-8 py-4" role="navigation")&attributes(attributes)
		+link("{routes.about}", "About")(class!="{isActive(path,routes.about, true) ? '!text-accent1-default before:!bg-accent1-default' : ''}")
		+link("{routes.portfolio}", "Portfolio")(class!="{isActive(path,routes.portfolio, true) ? '!text-accent1-default before:!bg-accent1-default' : ''}")
		+link("{routes.forStartups}", "For Startups")(class!="{isActive(path, routes.forStartups, true) ? '!text-accent1-default before:!bg-accent1-default' : ''}")
		+link("{routes.jobs}", "Jobs")(class!="{isActive(path, routes.jobs) ? '!text-accent1-default before:!bg-accent1-default' : ''}")
		//- +link("/c?filter=partners", "Partners")(class!="{isFilterActive($page.url,'/c', 'partners') ? '!text-accent1-default before:!bg-accent1-default' : ''}")

mixin mobile-nav
	+main-nav(class="relative flex-col")
	+primary-button("Partner With Us")(type="button" on:click!="{() => handleClick(toggleBurger)}")

.app-container(data-theme="{pageTheme}")
	header(class!="z-10 w-full block  relative {scrollY > 1 ? 'sticky top-0 border-b border-solid border-l4 bg-l1' : ''}")
		.header-wrapper(class="flex px-4 py-3 justify-center items-center w-full")
			.container(class="max-w-[1240px] flex items-center justify-between")
				.logo-wrapper(class="z-10 relative")
					a(class="relative flex w-6.5 h-6.5  {isBurgerDropdownShown ? '!w-25' : ''}" href="{routes.index}")
						+if('isBurgerDropdownShown')
							img(alt="Home" src="/logo-white-w-text.svg")
							+else()
								img(alt="Home" src="/logo-w-o-text.svg")
				+main-nav()(class="smDown:hidden")
				+primary-button("Partner With Us")(class="smDown:hidden" type="button" on:click!="{() => handleClick(undefined)}")
				+button-icon-default()(class="hidden smDown:flex z-10" on:click!="{() => toggleBurger(!isBurgerDropdownShown)}")
					+if('isBurgerDropdownShown')
						Icon(icon="{XMark}" width="{24}" height="{24}" colorInherit)
						+else()
							Icon(icon="{Bars3}" width="{24}" height="{24}" colorInherit)
				.mobile-dropdown(class="hidden {isBurgerDropdownShown ? '!flex' : ''} bg-l2 fixed w-screen left-0 bottom-0 top-0 pt-19 px-4 flex-col transition-all z-9 gap-4")
					+mobile-nav
	main: slot
	footer(class="mt-16 xs:mt-8 flex flex-col items-center w-full")
		.contact-form(class="w-full relative flex flex-col items-center border-t border-b border-solid border-l4 py-8 px-4 xs:py-4" id="contact-form")
			form(class="max-w-[604px] w-full" method="POST" action="/" on:submit|preventDefault="{onContactFormSumbit}")
				h4(class="text-h4-l xs:text-h4-s font-satoshi mb-4") Contact Us
				p(class="text-paragraph-l xs:text-paragraph-s text-t2 mb-6") We’d love to hear from you on discussing potential projects, intriguing ideas, and new opportunities.
				.input-group(class="mb-4")
					textarea(
						rows="{5}"
						required
						bind:value="{message}"
						class="relative w-full border border-solid border-l4 bg-l2 shadow-input rounded-xl p-2.25 text-footnote text-t1 transition-all placeholder:text-footnote placeholder:opacity-100 placeholder:text-t3 hover:border-accent1-default autofill:fill-t1 autofill:hover:text-t3" 
						name="message" 
						placeholder="How can we help you?")
				.input-group(class="mb-6 xs:mb-4 gap-4 flex xs:flex-col")
					input(
						type="text" 
						name="name" 
						required
						bind:value="{name}"
						class="relative w-1/2 xs:w-full border border-solid border-l4 bg-l2 shadow-input rounded-xl p-2.25 text-footnote text-t1 transition-all placeholder:text-footnote placeholder:opacity-100 placeholder:text-t3 hover:border-accent1-default autofill:fill-t1 autofill:hover:text-t3" 
						placeholder="Your name and company")
					input(
						type="email"
						required
						pattern!="{regExp.email.toString().slice(1,-1)}"
						bind:value="{email}"
						name="email" 
						on:blur="{displayError(email)}"
						class="relative w-1/2 xs:w-full border border-solid border-l4 bg-l2 shadow-input rounded-xl p-2.25 text-footnote text-t1 transition-all placeholder:text-footnote placeholder:opacity-100 placeholder:text-t3 hover:border-accent1-default autofill:fill-t1 autofill:hover:text-t3" 
						placeholder="Your email address")

				p#error-message(class="text-rating-c text-footnote font-inter flex items-center mb-6 xs:mb-4 gap-2 py-2.5  {isError ? 'flex' : 'hidden'}")
					Icon(icon="{ExclamationTriangle}" width="{17.26}" height="{15.62}" colorInherit)
					span() Invalid email address
				Button(label="Submit" class="mobile:!w-full" disabled="{message == '' || name == '' || email == '' || !validateEmail(email)  ? true : false}" isSubmitBtn="true")
		.footer-nav(class="flex items-center justify-between tbDown:flex-col tbDown:items-start tbDown:py-6 tbDown:gap-6 py-4 px-4 max-w-[1240px] w-full")
			.logo-wrapper(class="z-1 relative")
				a(class="relative flex w-25 h-6.5 tbDown:w-30 tbDown:h-8" href="{routes.index}"): img(alt="Home" src="/logo-white-w-text.svg")
			ul(class="absolute left-1/2 -translate-x-1/2 main-nav flex items-start gap-8 tbDown:relative tbDown:gap-4 tbDown:left-0 tbDown:transform-none" role="navigation")
				+link("https://policies.holdex.io/#/terms", "Terms of Use")(target="_blank" rel="noreferrer")
				+link("https://policies.holdex.io/#/privacy", "Privacy Policy")(target="_blank" rel="noreferrer")
				+link("https://policies.holdex.io/#/disclaimer", "Disclaimer")(target="_blank" rel="noreferrer")
			.social-icons(class="flex items-center justify-end gap-4 z-1 relative")
				+social-link("https://www.linkedin.com/company/holdexlimited/", "{@html socialIcons.linkedin}")
				+social-link("https://github.com/holdex", "{@html socialIcons.github}")
				+social-link("https://twitter.com/HoldexIo", "{@html socialIcons.twitter}")
				+social-link("https://t.me/holdex", "{@html socialIcons.telegram}")