include ./common-mixins

mixin link(href, title)
  li(
    class="flex relative items-center text-cta transition-colors hover:text-accent1-default before:content-['] before:absolute before:left-0 sm-up:before:bottom-[-1rem] before:bottom-[-0.5rem] before:w-full before:bg-transparent before:h-0.5"
  )&attributes(attributes): a(
    class="text-inherit"
    href=href
    on:click!="{() => toggleBurger(false)}"
  )= title

mixin social-link(href, content)
  a(
    class="flex flex-col items-center justify-center w-8 h-8 p-1 transition-colors hover:text-accent1-default"
    href=href
    target="_blank"
    rel="noopener noreferrer"
  )&attributes(attributes)= content

mixin main-nav
  ul(class=" flex items-start gap-4 xl-up:gap-8" role="navigation")&attributes(attributes)
    +link("{routes.about}", "About")(
      class!="{isActive(path, routes.about, true) ? 'before:!bg-accent1-default' : ''}"
    )
    +link("{routes.portfolio}", "Portfolio")(
      class!="{isActive(path, routes.portfolio, true) ? 'before:!bg-accent1-default' : ''}"
    )
    +link("{routes.forStartups}", "For Startups")(
      class!="{isActive(path, routes.forStartups, true) ? 'before:!bg-accent1-default' : ''}"
    )
    +link("{routes.jobs}", "Jobs")(
      class!="{isActive(path, routes.jobs) ? 'before:!bg-accent1-default' : ''}"
    )
    //- +link("/c?filter=partners", "Partners")(class!="{isFilterActive($page.url,'/c', 'partners') ? '!text-accent1-default before:!bg-accent1-default' : ''}")

mixin mobile-nav
  +main-nav(class="relative flex flex-wrap smDown:gap-4")
  //-+primary-button("Partner With Us")(type="button" on:click!="{() => handleClick(toggleBurger)}")

.app-container
  header(class!="z-10 w-full block relative sticky top-0")
    .header-wrapper(class="w-full whitespace-nowrap lg-up:justify-center")
      div(class="border-b border-solid border-l4 bg-l1 py-3 z-[99]")
        div(class="px-4 flex items-center justify-between mx-auto gap-4 sm-up:w-full xl-up:max-w-screen-xl-up")
          .logo-wrapper(class="z-1 relative")
            a(class="relative flex w-25 h-6.5 tbDown:w-30 tbDown:h-8" href="{routes.index}"): SVGIcon(
              name="logo"
              class="w-24"
            )
          div(
            id="secondary-navbar"
            use:scrollAction
            class!=" border-solid border-l4 z-[98] bg-l1  overflow-x-scroll scrollbar-hide w-full -mb-1"
          )
            div(
              id="secondary-navbar-section"
              class!="px-4 flex gap-x-8 items-center justify-between mx-auto gap-4 w-max from-l1 to-transparent sm-up:w-full xl-up:max-w-screen-xl-up py-2 sm-up:py-4 { !isLeftEnd ? 'mobile:before:bg-gradient-to-r mobile:before:absolute mobile:before:left-0 mobile:before:w-24 mobile:before:h-10 mobile:before:z-10' : ''} { !isRightEnd ? 'mobile:after:bg-gradient-to-l mobile:after:absolute mobile:after:right-0 mobile:after:w-24 mobile:after:h-10 mobile:after:z-10' : ''}"
            )
              //- .nav-wrapper(class="main-nav flex items-center gap-8 lg-up:ml-40")
              +main-nav(class="gap-6")
              .social-icons-nav(
                class!="gap-4 flex items-start {themeIconName === 'moon' ? 'text-tw-tweet-color-gray' : 'text-t3'}"
              )
                +social-link("https://www.linkedin.com/company/holdexlimited/", "{@html socialIcons.linkedin}")(
                  class="!h-5 !w-5 !p-0"
                )
                +social-link("https://github.com/holdex", "{@html socialIcons.github}")(
                  class="!h-5 !w-5 !p-0"
                )
                +social-link("https://twitter.com/HoldexIo", "{@html socialIcons.twitter}")(
                  class="!h-5 !w-5 !p-0"
                )
                +social-link("https://discord.gg/sEuyYf5euF", "{@html socialIcons.discord}")(
                  class="!h-5 !w-5 !p-0"
                )
                +social-link("https://t.me/holdex", "{@html socialIcons.telegram}")(
                  class="!h-5 !w-5 !p-0"
                )

          .flex.items-center.gap-2.sticky.right-0.z-20(class="md-up:gap-4")
            +button-icon-default(type="button" on:click!="{onThemeToggle}")
              SVGIcon(name="{themeIconName}" class="w-5 stroke-current")
            +primary-button("Partner With Us")(
              class="sticky hidden sm-up:block"
              type="button"
              on:click!="{() => handleClick(undefined)}"
            ) 

  main: slot 
  button(
    class="w-[56px] h-[56px] sm-up:hidden bg-accent1-default text-t4 rounded-xl flex justify-center items-center fixed bottom-3 right-[14px] z-10"
    on:click!="{() => handleClick(undefined)}"
  )
    Icon(icon="{ChatBubbleBottomCenter}" width="{32}" height="{32}" isOutlined)

  footer(class="mt-16 xs:mt-8 flex flex-col items-center w-full")
    .contact-form(
      class="w-full relative flex flex-col items-center border-t border-b border-solid border-l4 py-8 px-4 xs:py-4"
      id="contact-form"
    )
      form(
        class="max-w-[604px] w-full relative"
        method="POST"
        action="/"
        on:submit|preventDefault="{onContactFormSumbit}"
      )
        h4(class="text-h4-l xs:text-h4-s font-satoshi mb-4") Contact Us
        p(class="text-paragraph-l xs:text-paragraph-s text-t2 mb-6") We’d love to hear from you on discussing potential projects, intriguing ideas, and new opportunities.
        .input-group(class="mb-4")
          textarea(
            rows="{5}"
            required
            bind:value="{message}"
            class="relative w-full border border-solid border-l4 block min-h-32 h-32 bg-l1 shadow-input rounded-xl p-2.5 text-footnote text-t1 transition-all placeholder:text-footnote placeholder:opacity-100 placeholder:text-t3 hover:border-accent1-default autofill:fill-t1 autofill:hover:text-t3 dark:bg-l2"
            name="message"
            placeholder="How can we help you?"
          )
        .input-group(class="mb-6 xs:mb-4 gap-4 flex xs:flex-col")
          input(
            type="text"
            name="name"
            required
            bind:value="{name}"
            class="relative w-1/2 xs:w-full border border-solid border-l4 bg-l1 shadow-input rounded-xl p-2.25 text-footnote text-t1 transition-all placeholder:text-footnote placeholder:opacity-100 placeholder:text-t3 hover:border-accent1-default autofill:fill-t1 autofill:hover:text-t3 dark:bg-l2"
            placeholder="Your name and company"
          )
          input(
            type="email"
            required
            pattern!="{regExp.email.toString().slice(1, -1)}"
            bind:value="{email}"
            name="email"
            on:blur="{displayError(email)}"
            class="relative w-1/2 xs:w-full border border-solid border-l4 bg-l1 shadow-input rounded-xl p-2.25 text-footnote text-t1 transition-all placeholder:text-footnote placeholder:opacity-100 placeholder:text-t3 hover:border-accent1-default autofill:fill-t1 autofill:hover:text-t3 dark:bg-l2"
            placeholder="Your email address"
          )
        p(
          class="text-rating-c text-footnote font-inter flex items-center mb-6 xs:mb-4 gap-2 py-2.5  {isError ? 'flex' : 'hidden'}"
        )
          Icon(icon="{ExclamationTriangle}" width="{17.26}" height="{15.62}" colorInherit)
          span() Invalid email address
        Button(
          label="Submit"
          class="dark:bg-l2 mobile:!w-full"
          disabled="{message == '' || name == '' || email == '' || !validateEmail(email) ? true : false}"
          isSubmitBtn="true"
        )
        .feedback-toast(
          class="absolute z-1 -bottom-4 xs:-bottom-2 left-1/2 -translate-x-1/2 h-12 border border-solid rounded-xl bg-l2 border-l4 px-2.75 py-1.75 justify-center items-center gap-2 shadow-tag text-accent1-default {success ? 'flex' : 'hidden'}"
        )
          Icon(icon="{CheckCircle}" width="{24}" height="{24}" colorInherit)
          span.succ(class="text-t1 text-cta") Message sent!
    .footer-nav(
      class="flex items-center justify-between xs:flex-col xs:items-start xs:py-6 xs:gap-6 py-4 px-4 max-w-[1240px] w-full"
    )
      .logo-wrapper(class="z-1 relative")
        a(class="relative flex w-25 h-6.5 tbDown:w-30 tbDown:h-8" href="{routes.index}"): SVGIcon(
          name="logo"
          class="w-32"
        )
      ul(
        class="absolute left-1/2 -translate-x-1/2 main-nav flex items-start gap-8 tbDown:relative tbDown:gap-4 tbDown:left-0 tbDown:transform-none"
        role="navigation"
      )
        +link("https://policies.holdex.io/#/terms", "Terms of Use")(
          target="_blank"
          rel="noreferrer"
        )
        +link("https://policies.holdex.io/#/privacy", "Privacy Policy")(
          target="_blank"
          rel="noreferrer"
        )
        +link("https://policies.holdex.io/#/disclaimer", "Disclaimer")(
          target="_blank"
          rel="noreferrer"
        )
      .social-icons(class="flex items-center justify-end gap-4 z-1 relative")
        +social-link("https://www.linkedin.com/company/holdexlimited/", "{@html socialIcons.linkedin}")
        +social-link("https://github.com/holdex", "{@html socialIcons.github}")
        +social-link("https://twitter.com/HoldexIo", "{@html socialIcons.twitter}")
        +social-link("https://discord.gg/sEuyYf5euF", "{@html socialIcons.discord}")
        +social-link("https://t.me/holdex", "{@html socialIcons.telegram}")
